body{
    margin: 0;
    padding: 0;
    font-family: Anton, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}   

p{
    font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 100;
    background-color: white;
}

.header-right-section{
    display: flex;
    column-gap: 40px;
    justify-content:right;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 50px;
}



.header-right-section a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 500;
    transition: transform 0.3s;
}

.header-right-section a:hover{
    transform: scale(1.2);
}

.body-section{
    position: relative;
    top: 80px;
}

.content img{
    height: 88vh;
}

.content{
    display: flex;
    column-gap: 5px;
    align-items: center;
    height: 100vh;
}


.text{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    row-gap: 20px;
}

.topic{
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;
}

.socials{
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.socials a img{
    height: 60px;
    transition: transform 0.3s;
}

.socials a img:hover{
    transform: scale(1.2);
}

.interest-boxes{
    display: flex;
    column-gap: 17px;
    align-items: center;
}

.interest-boxes h3{
    font-size: 17px;
    font-weight: 400;
    border-bottom-style: solid;
    
}

.grids{
    display: grid;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    height: 320px;
    cursor: pointer;
    background-color: rgb(28, 138, 235);
    transition: transform 0.3s, background-color 0.3s; 
}

.grids:hover{
    transform: scale(1.1);
    background-color: rgb(233, 233, 19);
}


@media (max-width: 1160px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
    }
    .topic{
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
    .content img{
        height: 75vh;
    }
    .interest-boxes h3{
        font-size: 15px;
        font-weight: 400;
        border-bottom-style: solid;
        
    }
    .socials{
        display: flex;
        column-gap: 40px;
        align-items: center;
    }
    
    .socials a img{
        height: 55px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
}
@media (max-height: 440px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 15px;
    }
    .topic{
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
    .content img{
        height: 75vh;
    }
    .interest-boxes h3{
        font-size: 15px;
        font-weight: 400;
        border-bottom-style: solid;
        
    }
    .socials{
        display: flex;
        column-gap: 40px;
        align-items: center;
    }
    
    .socials a img{
        height: 55px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
}


@media (max-width: 1010px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
    }
    .topic{
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
    }
    .content img{
        height: 60vh;
    }
    .interest-boxes h3{
        font-size: 14px;
        font-weight: 400;
        border-bottom-style: solid;
        
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;
        height: 250px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
    
    .socials a img{
        height: 45px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    
}
@media (max-height: 425px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 13px;
    }
    .topic{
        font-size: 16px;
        font-weight: 500;
        text-decoration: underline;
    }
    .content img{
        height: 60vh;
    }
    .interest-boxes h3{
        font-size: 14px;
        font-weight: 400;
        border-bottom-style: solid;
        margin: 0;
        
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;
        height: 200px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 30px;
        align-items: center;
    }
    
    .socials a img{
        height: 45px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    
}



@media (max-width: 890px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 11px;
    }
    .topic{
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        margin: 0;
    }
    .content img{
        height: 40vh;
    }
    .interest-boxes h3{
        font-size: 13px;
        font-weight: 400;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        padding: 5px;
        height: 200px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .socials a img{
        height: 40px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    
}
@media (max-height: 300px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 14px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 11px;
    }
    .topic{
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        margin: 0;
    }
    .content img{
        height: 40vh;
    }
    .interest-boxes h3{
        font-size: 13px;
        font-weight: 400;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 0;
        
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        padding: 5px;
        height: 100px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .socials a img{
        height: 40px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    
}

@media (max-width: 755px){
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 9px;
    }
    .topic{
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        margin: 0;
    }
    .content img{
        height: 40vh;
    }
    .interest-boxes h3{
        font-size: 11px;
        font-weight: 400;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        margin: 0;
        
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        border-width: 2px;
        padding: 5px;
        height: 150px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .socials a img{
        height: 30px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    
}

@media (max-width: 680px){
    .header-right-section{
        display: flex;
        column-gap: 20px;
        justify-content:right;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 50px;
    }
    
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 9px;
    }
    .topic{
        font-size: 12px;
        font-weight: 200;
        margin: 0;
    }
    .content img{
        height: 40vh;
    }
    .interest-boxes h3{
        font-size: 11px;
        margin-top: 15px;
        border-bottom: 0cap;
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        padding: 5px;
        height: 60px;
        width: 80px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .socials a img{
        height: 30px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    .interest-boxes p{
        opacity: 0;
    }
}

@media (max-width: 560px){
    .content{
        display: flex;
        column-gap: 60px;
        align-items: center;
        height: 100vh;
    }
    .header-right-section{
        display: flex;
        column-gap: 20px;
        justify-content:right;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .header-right-section a{
        text-decoration: none;
        color: black;
        font-size: 12px;
        font-weight: 500;
        transition: transform 0.3s;
    }
    .header-right-section a:hover{
        transform: scale(1.2);
    }
    p{
        font-family: Roboto,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 9px;
    }
    .topic{
        font-size: 12px;
        font-weight: 200;
        margin: 0;
    }
    .content img{
        height: 30vh;
    }
    .interest-boxes{
        display: grid;
        row-gap: 15px;
        align-items: center;
        margin-right: 50px;
    }
    .interest-boxes h3{
        font-size: 11px;
        margin-top: 15px;
        border-bottom: 0cap;
    }
    .grids{
        display: grid;
        text-align: center;
        border-style: solid;
        border-radius: 5px;
        border-width: 1px;
        padding: 5px;
        height: 60px;
        width: 80px;
        cursor: pointer;
        background-color: rgb(28, 138, 235);
        transition: transform 0.3s, background-color 0.3s; 
    }
    .socials{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }
    
    .socials a img{
        height: 30px;
        transition: transform 0.3s;
    }
    
    .socials a img:hover{
        transform: scale(1.2);
    }
    
    .interest-boxes p{
        opacity: 0;
    }
}